<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="personBean" class="com.lzc.bean.Person">
        <property name="names">
            <!--list有序可重复-->
            <list>
                <value>张三</value>
                <value>张三</value>
                <value>张三</value>
                <value>张三</value>
                <value>张三</value>
                <value>张三</value>
                <value>张三</value>
            </list>
        </property>
        <property name="addrs">
            <!--set集合无序不可重复-->
            <set>
                <value>北京大兴区</value>
                <value>北京大兴区</value>
                <value>北京海定区</value>
                <value>北京海定区</value>
                <value>北京大兴区</value>
            </set>
        </property>
        <property name="phones">
            <!--注入map集合-->
            <map>
                <!--如何key和value不是简单类型用这个配置-->
<!--                <entry key-ref="" value-ref=""/>-->
                <entry key="1" value="110"/>
                <entry key="2" value="119"/>
                <entry key="3" value="120"/>
            </map>
        </property>
        <property name="properties">
            <!--注入properties属性类对象-->
            <props>
                <prop key="driver">com.mysqk</prop>
                <prop key="url">localhost</prop>
                <prop key="username">root</prop>
                <prop key="password">123</prop>
            </props>
        </property>
    </bean>
</beans>