<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--Spring的配置文件-->
    <!--文件名可以换-->
    <!--最好放在类路径中，方便后期移植-->
    <!--配置bean,这样spring才可以帮我们管理对象-->
    <!--
        bean标签的两个重要属性
        id:是这个bean的身份证号，不能重复，是唯一的标识
        class:必须填写类的全路径，全限定类型（带包名的类名）
    -->
    <bean id="userBean" class="com.lzc.bean.User"/>

    <!--    <bean id="userBean" class="com.lzc.bean.Vip"/>-->


    <!--配置其他bean-->
    <bean id="userDaoBean" class="com.lzc.dao.UserDaoUnolForMysql"/>

    <!--配置java.util.Date bean-->
    <bean id="nowTime" class="java.util.Date"/>
</beans>