<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--需要手动指定初始化方法和销毁方法-->
    <bean id="user" class="com.lzc.bean.User" init-method="initBean" destroy-method="destroyBean" scope="prototype">
        <property name="name" value="lzc"/>
    </bean>


    <!--配置bean后处理器-->
    <!--注意:这个Bean后处理器将作用于整个配置文件中所有的bean。-->
    <bean class="com.lzc.bean.LogBeanPostProcessor"/>

    <!--    <bean id="vip" class="com.lzc.bean.Vip"></bean>-->
</beans>